*, *:before, *::after {
    font-family: sans-serif;
}

body {
    text-align: center;
    font-size: 18px;
}

h1 {
    width: 100%;
    background-color: black;
    color: white;
}

h5 {
    margin-top: 3%;
}

#container{
    text-align: center;
    margin: 5%;
    border: 3px solid black;
    border-radius: 3%;
}

#A, #B, #C, #D {
    margin: 3%;
}

#answer-container{
    display: none;
}

#A-correct, #B-correct, #C-correct, #D-correct {
    color:  green;
    margin: 3%;
}

#A-wrong, #B-wrong, #C-wrong, #D-wrong {
    color: red;
    margin: 3%;
}

