*, *:before, *::after {
    font-family: sans-serif;
}

body {
    text-align: center;
    font-size: 18px;
}

h1 {
    width: 100%;
    background-color: black;
    color: white;
}

h5 {
    margin-top: 3%;
}

#container{
    text-align: center;
    margin: 5%;
    border: 3px solid black;
    border-radius: 3%;
}

#A, #B, #C, #D {
    margin: 1%;
}

#answer-container, #inputs, #add-btn{
    display: none;
}


#next-btn{
    margin-top: 1%;
}

#score{
    margin: 5%;
    text-align: center;
   
   
}